html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    padding-top: 3.3rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

.padding-top-25 {
    padding-top: 25px;
}

input {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

textarea {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    cursor: pointer;
}

.jumbotron {
    background: url('../img/jumbotron-bg.jpg') 40% 40%;
}

.jumbotron-heading {
    font-weight: 300;
}